extends layout

block content
  h1.text-danger= message
  if error !== null || error !== 'undefined'
    h2= error.status
    pre #{error.stack}
  else
    h2.text-info Error al obtener la información
