extends layout

block content
  h1.text-center #{title}
  p Test desarrollado para la posición de desarollador
  
  .form-group.col-md-6
    div(class="btn-group" role="group")
      button(class="btn btn-outline-info" type="button" data-filter="all") Todos
      each type in types
        button(class="btn btn-outline-info" type="button" data-filter=".type-#{type}") #{type}
      each category in categories
        button(class="btn btn-outline-info" type="button" data-filter=".category-#{category}") #{category}
  
  .data-filter
    .row.card-columns
      for item in data
        .col-md-4.mix(class="category-#{item.category} type-#{item.type}")
          .card
            .card-header #{item.category}
            img.card-img-top(src="#{item.thumbnail}")
            .card-body
              h6.card-subtitle.mb-2.text-muted #{item.type}
              h4.card-title #{item.title}
              p.card-text #{item.description}