doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src="/js/jquery-3.2.1.min.js")
    
  body
    div.container
      block content
  script(type='text/javascript' src="/js/mixitup.min.js")
  script(type='text/javascript' src="/js/filter.js")
